
html {
    box-sizing: border-box;
    font-size: 15px;
  }
  
  body, p, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  /* ----------------
   * Style de la page
   * ---------------- */
  
  /* La page a une taille fixe de 600px et est centrée au centre du navigateur. */
  
  body {
    width: 80%;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
  }
  
  /* -------------------------
   * Style de la page Produits
   * ------------------------- */
  
   h1{
    margin-top: 35px;
    margin-bottom: 80px;
    color:#3E8ED0;
    font-size: 50px;
   }
  /* Style de la section */
  
  #formulaire {
    margin-left: 33.8%;
    width: 33%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  }
  
  #formulaire h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 5px 20px;
    margin-left: 10px;
  }
  #formulaire #line1, #line2, #line3, #line4{
    width: 100%;
    display: flex;
  }
  
  #formulaire #centre{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  #formulaire form span {
    color: red;
    width: 100%;
    text-align: center;
    visibility: hidden;
  }
  
  #formulaire input {
    width: 100%;
    height: 50px;
  }
  
  #boutons{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
    padding-top: 20px
  }

  #supprimer{
    margin-right: 100px;
  }

  .container{
    display: flex;
  }
    
  .button{
    flex-grow:1;
  }

  #accueil {
    margin-top: -130px;
    left: 0%;
    width: 15%;
    position: absolute;
    text-align: center;
   }

  #iconAccueil, #iconDéconnexion{
    margin-top: 13px;
    color: black;
  }
  
  #textAccueil, #textDéconnexion {
      color: black;
  }

  #Déconnexion {
    margin-top: -130px;
    right:  0%;
    width: 15%;
    position: absolute;
    text-align: center;
   }
